.chores {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(32, 203, 255, 0.87);
}
li{
    font-style: italic;
    font-size: 1em;
}
h3{
    text-decoration: underline;
}