.chores {
    color: #ff4f33;
}

.doneChores {
    color: #3c79b8;
}
p{
    color: rgb(67, 197, 35);
}

h3 {
    text-align: center;
}

img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: auto;
}